<form #userForm="ngForm" (ngSubmit)="Submit()" style="padding-right: 5%; padding-left: 5%;">
	<div class="card" style="width: 100%; margin-top: 2rem; background-color:#edf2f6; border-radius: 10px;">
		<div class="card-header"><b>Edición de usuario</b></div>
		<div class="card mb-4 mt-4">
			<ul class="nav">
				<button type="submit" class="btn-toolbar">
					<a class="nav-link text-toolbar">Guardar</a>
				</button>
				<button type="button" class="btn-toolbar" routerLink="/user/list">
					<a class="nav-link text-toolbar">Volver</a>
				</button>
			</ul>
		</div>

		<div class="card-body">
			<div class="row pb-2">
				<div class="col-lg-2">Tipo de documento</div>
				<div class="col-lg-4">
					<input [(ngModel)]="user.documentTypeId" name="documentTypeId" type="text" class="form-control form-control-sm" disabled />
				</div>
				<div class="col-lg-2">Número de documento</div>
				<div class="col-lg-4">
					<input [(ngModel)]="user.documentNumber" name="documentNumber" type="text" class="form-control form-control-sm" disabled />
				</div>
			</div>

			<div class="row pb-2">
				<div class="col-lg-2">Nombre</div>
				<div class="col-lg-4">
					<input [(ngModel)]="user.name" name="name" type="text" class="form-control form-control-sm" required />
				</div>
				<div class="col-lg-2">Apellido Paterno</div>
				<div class="col-lg-4">
					<input [(ngModel)]="user.fathersLastName" name="fathersLastName" type="text" class="form-control form-control-sm" />
				</div>
			</div>

			<div class="row pb-2">
				<div class="col-lg-2">Apellido Materno</div>
				<div class="col-lg-4">
					<input [(ngModel)]="user.mothersLastName" name="mothersLastName" type="text" class="form-control form-control-sm" />
				</div>
				<div class="col-lg-2">Dirección</div>
				<div class="col-lg-4">
					<input [(ngModel)]="user.address" name="address" type="text" class="form-control form-control-sm" />
				</div>
			</div>

			<div class="row pb-2">
				<div class="col-lg-2">Departamento</div>
				<div class="col-lg-4">
					<input [(ngModel)]="user.regionCode" name="regionCode" type="text" class="form-control form-control-sm" />
				</div>
				<div class="col-lg-2">Provincia</div>
				<div class="col-lg-4">
					<input [(ngModel)]="user.provinceCode" name="provinceCode" type="text" class="form-control form-control-sm" />
				</div>
			</div>

			<div class="row pb-2">
				<div class="col-lg-2">Distrito</div>
				<div class="col-lg-4">
					<input [(ngModel)]="user.ubigeoCode" name="ubigeoCode" type="text" class="form-control form-control-sm" />
				</div>
				<div class="col-lg-2">Teléfono</div>
				<div class="col-lg-4">
					<input [(ngModel)]="user.phone" name="phone" type="text" class="form-control form-control-sm" />
				</div>
			</div>

			<div class="row pb-2">
				<div class="col-lg-2">Correo</div>
				<div class="col-lg-4">
					<input [(ngModel)]="user.email" name="email" type="email" class="form-control form-control-sm" />
				</div>
				<div class="col-lg-2">Contraseña</div>
				<div class="col-lg-4">
					<input [(ngModel)]="user.password" name="password" type="password" class="form-control form-control-sm" />
				</div>
			</div>

			<div class="row pb-2">
				<div class="col-lg-2">Activo</div>
				<div class="col-lg-4">
					<input type="checkbox" [(ngModel)]="user.active" name="active" />
				</div>
			</div>
		</div>
	</div>
</form>